<div [class.w-64]="isExpanded" [class.w-16]="!isExpanded"
  class="h-full bg-gray-800 text-white transition-all duration-300 flex flex-col">
  <!-- Header del Sidebar -->
  <div class="flex items-center justify-between h-16 px-4 border-b border-gray-700">
    <h2 *ngIf="isExpanded" class="text-xl font-semibold">GS PROYECTOS</h2>
    <button (click)="toggleSidebar()" class="focus:outline-none text-gray-300">
      <i [class]="isExpanded ? 'fas fa-chevron-left' : 'fas fa-chevron-right'"></i>
    </button>
  </div>

  <!-- Navegación -->
  <nav class="mt-4">
    <a class="flex items-center px-4 py-3 text-gray-300 hover:bg-gray-700 hover:text-white" routerLink=""
      routerLinkActive="active">
      <i class="fas fa-tachometer-alt"></i>
      <span *ngIf="isExpanded" class="ml-4">Dashboard</span>
    </a>
    <a class="flex items-center px-4 py-3 text-gray-300 hover:bg-gray-700 hover:text-white" routerLink="/proyectos">
      <i class="fas fa-briefcase"></i>
      <span *ngIf="isExpanded" class="ml-4">Proyectos</span>
    </a>
    <a class="flex items-center px-4 py-3 text-gray-300 hover:bg-gray-700 hover:text-white" routerLink="/tareas">
      <i class="fas fa-tasks"></i>
      <span *ngIf="isExpanded" class="ml-4">Tareas</span>
    </a>
    <a class="flex items-center px-4 py-3 text-gray-300 hover:bg-gray-700 hover:text-white" routerLink="/equipo">
      <i class="fas fa-users"></i>
      <span *ngIf="isExpanded" class="ml-4 text-white">Equipo</span>
    </a>

    <a class="flex items-center px-4 py-3 text-gray-300 hover:bg-gray-700 hover:text-white" routerLink="/clientes">
      <i class="fas fa-users"></i>
      <span *ngIf="isExpanded" class="ml-4">Clientes</span>
    </a>
    <a class="flex items-center px-4 py-3 text-gray-300 hover:bg-gray-700 hover:text-white" routerLink="servicios">
      <i class="fas fa-concierge-bell"></i>
      <span *ngIf="isExpanded" class="ml-4">Servicios</span>
    </a>
    <a class="flex items-center px-4 py-3 text-gray-300 hover:bg-gray-700 hover:text-white" routerLink="/reportes">
      <i class="fas fa-chart-pie"></i>
      <span *ngIf="isExpanded" class="ml-4">Reportes</span>
    </a>
  </nav>
</div>